.status-select-cell {
  position: relative;
}

.status-select-cell .dropdown {
  position: absolute;
  z-index: 1000;
  background: #fff;
  padding: 5px 0px;
  list-style: none;
}

.status-select-cell .dropdown li {
  padding: 3px 15px;
  cursor: pointer;
}

.status-select-cell .dropdown li > span {
  padding-right: 0.5em;
}

.status-select-cell .dropdown li:hover {
  background-color: #eee;
}
