.status-select-cell {
  position: relative;
}

.status-select-cell .dropdown {
  position: absolute;
  z-index: 1000;
  background: #fff;
  padding: 5px 0px;
  list-style: none;
  width: 500px;
}

.status-select-cell .dropdown > input {
  width: 25%;
}

.status-select-cell:hover {
  background-color: #eee;
}

.status-select-cell .dropdown li {
  padding: 3px 15px;
  cursor: pointer;
}

.status-select-cell .dropdown li > span {
  padding-right: 0.5em;
}

.status-select-cell .dropdown li:hover {
  background-color: #eee;
}

.backgrid td.editor.popup .pop-editor.value-unit-editor {
  width: 500%;
}

.backgrid td.editor.popup .pop-editor.value-unit-editor .value,
.backgrid td.editor.popup .pop-editor.value-unit-editor .unit {
  width: 30%;
}
